# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# Laravel
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*
/bootstrap/cache/*.php

# Laravel caches
.phpunit.result.cache
.php